
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
             <h1 class="display-7">Módulo de Exportação de Dados da PNP </h1>
             <p>
                 

            <div>Dados Acadêmicos
            <a href="/PnpQuery?Ano=2021&query=queryDadosGerais.dax&titulo=Dados Acadêmicos;Curso, matrícula e oferta" title="Curso, matrícula e oferta" >Curso, matrícula e oferta</a>
             <a href="/PnpQuery?Ano=2021&query=queryDadosGerais.dax&titulo=Dados Acadêmicos;Curso, matrícula e oferta" title="Curso, matrícula e oferta" >Curso, matrícula e oferta</a>

             <a href="/PnpQuery?Ano=2021&query=queryCassificacaoRacialRendaSexo.dax&titulo=Dados Acadêmicos;Classificação Racial, Renda, Sexo e Faixa Etária" title="Classificação Racial, Renda, Sexo e Faixa Etária" >Classificação Racial, Renda, Sexo e Faixa Etária</a>
             </div>
             </p>
             <div>Indicadores de Pessoal
              <a href="/PnpQuery?Ano=2021&query=queryTitulacaoDocente.dax&titulo=Indicadores de Pessoal;Titulação Docente" title="Titulação Docente" >Titulação Docente</a>
               <a href="/PnpQuery?Ano=2021&query=queryTecnicosAdmNivel.dax&titulo=Indicadores de Pessoal;Técnico Administrativo por Nível" title="Técnico Administrativo por Nível" > Técnico Administrativo por Nível</a>
              <a href="/PnpQuery?Ano=2021&query=queryProfessoresPorInstituicao.dax&titulo=Indicadores de Pessoal;Professores Por Instituição" title="Professores Por Instituição" > Professores Por Instituição</a>
               </div>
           
              <div>Indicadores Acadêmicos
              <a href="/PnpQuery?Ano=2021&query=queryTaxaEvasao.dax&titulo=Indicadores de Acadêmicos;Taxa de Evasão" title="Taxa de Evasão" >Taxa de Evasão</a>
              <a href="/PnpQuery?Ano=2021&query=queryEficienciaAcademica.dax&titulo=Indicadores de Acadêmicos;Eficiência Acadêmica" title="Eficiência Acadêmica" >Eficiência Acadêmica</a>
               <a href="/PnpQuery?Ano=2021&query=queryRelacaoAlunoProfessorRAP.dax&titulo=Indicadores de Acadêmicos;Relação Aluno Professsor (RAP)" title="Relação Aluno Professsor (RAP)" >Relação Aluno Professsor (RAP)</a>
               <a href="/PnpQuery?Ano=2021&query=queryIndiceVerticalizacao.dax&titulo=Indicadores de Acadêmicos;Índice de Verticalização" title="Índice de Verticalização" >Índice de Verticalização</a>
               <a href="/PnpQuery?Ano=2021&query=queryTaxaOcupacao.dax&titulo=Indicadores de Acadêmicos;Taxa de Ocupação" title="Taxa de Ocupação" >Taxa de Ocupação</a>

                 <div>Percentuais Legais
              <a href="/PnpQuery?Ano=2021&query=queryPercentuaisLegais.dax&titulo=Percentuais Legais;Percentuais Legais" title="Percentuais Legais" >Percentuais Legais</a>
              <a href="/PnpQuery?Ano=2021&query=queryReservaVagas.dax&titulo=Percentuais Legais;Reserva de Vagas" title="Reserva de Vagas" >Reserva de Vagas</a>
               <a href="/PnpQuery?Ano=2021&query=queryOfertaVagasNoturnas.dax&titulo=Percentuais Legais;Oferta de Vagas Noturnas" title="Oferta de Vagas Noturnas" >Oferta de Vagas Noturnas</a>
             <a href="/PnpQuery?Ano=2021&query=queryRelacaoInscritosVagas.dax&titulo=Percentuais Legais;Relação Inscritos/Vagas" title="Relação Inscritos/Vagas" >Relação Inscritos/Vagas</a>
               </div>   
            <div>Dados INEP
              <a href="/PnpQuery?Ano=2021&query=queryIGC.dax&titulo=Dados INEP;Índice Geral de Cursos" title="Índice Geral de Cursos" >Índice Geral de Cursos</a>
                <a href="/PnpQuery?Ano=2021&query=queryCPC.dax&titulo=Dados INEP;Conceito preliminar de curso" title="Conceito preliminar de curso" >Conceito preliminar de curso</a>
             

            
               </div>   
          <div class="container-fluid">
                 <div class="navbar-collapse collapse  justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            
                        </li>
                        <Br></Br>
                        <li class="nav-item">
                            
                           
                        </li>
                    </ul>
                </div>
               
                
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                 
                 
                    
                           <img src="~/images/pnp.png" width="225px" height="150px" class="center">
                           
                      
                    
                </div>
            </div>
        </nav>