@{
    ViewData["Title"] = "Home Page";



}

 <nav class="nav_sidebar ">


            <div class="menu-items">
                <ul class="nav-links">
                    <!-- Dados acâdemicos-->

                    <li>
                        <embed type="image/svg+xml" src="~/assets/network.svg" />

                        <a href="/">
                            <span class="link-name">Início</span>
                        </a>
                    </li>

                    <li>
                        <embed type="image/svg+xml" src="~/assets/home.svg" />

                        <a href="#">
                            <span class="link-name">Rede Federal EPCT</span>
                        </a>

                    </li>

          
                       <li>
                        <embed id="money" type="image/svg+xml" src="~/assets/money.svg" />

                        <a href="/IndicadoresGestaoQuery?Ano=2021&query=queryDadosGerais.dax&titulo=Dados Acadêmicos;Curso, matrícula e oferta">
                            <span class="link-name">Indicadores de gestão</span>
                        </a>
                    </li>

                    <li>
                        <embed id="money" type="image/svg+xml" src="~/assets/money.svg" />

                      <a href="/OrcamentoQuery?Ano=2021&query=queryPanoramaOrcamentario.dax&titulo=Orçamento;Panorama Orcamentário" title="Orçamentos">
                            <span class="link-name">Dados orçamentários</span>
                        </a>
                    </li>
                    <li>
                        <embed  type="image/svg+xml" src="~/assets/management.svg" />

                        <a href="/GestaoPessoasQuery?Ano=2021&query=queryCargosCarreira.dax&titulo=Gestão de Pessoas;Cargos da Carreira" title="Gestão de Pessoas">
                            <span class="link-name">Dados de gestão de pessoas</span>
                        </a>
                    </li>

                </ul>
            </div>
        </nav>

        <section class="dashboard">
            <div class="content">
                 <nav>
            <div class="container-scroller" id="container">
          <li tabindex="0" class="chip-selected">🎓 Dados Acadêmicos 
            <ul>
              <li><a href="/IndicadoresGestaoQuery?Ano=2021&query=queryDadosGerais.dax&titulo=Dados Acadêmicos;Curso, matrícula e oferta"title="Curso, matrícula e oferta">Curso, matrícula e oferta</a></li>
              <li><a href="/IndicadoresGestaoQuery?Ano=2021&query=querySituacaoMatricula.dax&titulo=Indicadores de Acadêmicos;Situacao Matricula" title="Situação Matricula">Situação Matricula</a></li>

              <li><a href="/IndicadoresGestaoQuery?Ano=2021&query=queryCassificacaoRacialRendaSexo.dax&titulo=Dados Acadêmicos;Classificação Racial, Renda, Sexo e Faixa Etária">Classificação racial, renda e sexo</a></li>
              
            </ul>
            
          </li>
          <li  tabindex="0"> 🗒️ Percentuais Legais

            <ul>
              <li><a href="/IndicadoresGestaoQuery?Ano=2021&query=queryPercentuaisLegais.dax&titulo=Percentuais Legais;Percentuais Legais" title="Percentuais Legais">Percentuais Legais</a></li>
              <li><a href="/IndicadoresGestaoQuery?Ano=2021&query=queryReservaVagas.dax&titulo=Percentuais Legais;Reserva de Vagas" title="Reserva de Vagas">Reserva de Vagas</a></li>
              <li><a href="/IndicadoresGestaoQuery?Ano=2021&query=queryOfertaVagasNoturnas.dax&titulo=Percentuais Legais;Oferta de Vagas Noturnas" title="Oferta de Vagas Noturnas">Oferta de Vagas Noturnas</a></li>
              <li><a href="/IndicadoresGestaoQuery?Ano=2021&query=queryRelacaoInscritosVagas.dax&titulo=Percentuais Legais;Relação Inscritos/Vagas" title="Relação Inscritos/Vagas">Relação Inscritos/Vagas</a></li>
            </ul>
          
          </li>
          <li  tabindex="0"> 🎓 Indicadores Acadêmicos

            <ul>
              <li><a href="/IndicadoresGestaoQuery?Ano=2021&query=queryTaxaEvasao.dax&titulo=Indicadores de Acadêmicos;Taxa de Evasão" title="Taxa de Evasão">Taxa de Evasão</a></li>
              <li><a href="/IndicadoresGestaoQuery?Ano=2021&query=queryEficienciaAcademica.dax&titulo=Indicadores de Acadêmicos;Eficiência Acadêmica" title="Eficiência Acadêmica">Eficiência Acadêmica</a></li>
              <li><a href="/IndicadoresGestaoQuery?Ano=2021&query=queryRelacaoAlunoProfessorRAP.dax&titulo=Indicadores de Acadêmicos;Relação Aluno Professsor (RAP)" title="Relação Aluno Professsor (RAP)">Relação Aluno Professsor (RAP)</a></li>
              <li><a href="/IndicadoresGestaoQuery?Ano=2021&query=queryIndiceVerticalizacao.dax&titulo=Indicadores de Acadêmicos;Índice de Verticalização" title="Índice de Verticalização">Índice de Verticalização</a></li>
              <li><a href="/IndicadoresGestaoQuery?Ano=2021&query=queryTaxaOcupacao.dax&titulo=Indicadores de Acadêmicos;Taxa de Ocupação" title="Taxa de Ocupação">Taxa de Ocupação</a></li>
            </ul>
            
          
          </li>
           <li  tabindex="0"> ✅ Indicadores de Pessoal

            <ul>
              <li><a href="/IndicadoresGestaoQuery?Ano=2021&query=queryTitulacaoDocente.dax&titulo=Indicadores de Pessoal;Titulação Docente" title="Titulação Docente">Titulação Docente</a></li>
              <li><a href="/IndicadoresGestaoQuery?Ano=2021&query=queryTecnicosAdmNivel.dax&titulo=Indicadores de Pessoal;Técnico Administrativo por Nível" title="Técnico Administrativo por Nível"> Técnico Administrativo por Nível</a></li>
              <li><a href="/IndicadoresGestaoQuery?Ano=2021&query=queryProfessoresPorInstituicao.dax&titulo=Indicadores de Pessoal;Professores Por Instituição" title="Professores Por Instituição"> Professores Por Instituição</a></li>
            
            </ul>
            
          
          </li>
          <li  tabindex="0"> 💲 Indicadores de Gastos

            <ul>
              <li><a href="/IndicadoresGestaoQuery?Ano=2021&query=queryIndicadoresGastos.dax&titulo=Indicadores de Gastos;Indicadores de Gastos" title="Indicadores de Gastos">Indicadores de Gastos</a></li>
            </ul>

          </li>
          <li  tabindex="0"> 📊 Dados INEP

            <ul>
              <li><a href="/IndicadoresGestaoQuery?Ano=2021&query=queryIGC.dax&titulo=Dados INEP;Índice Geral de Cursos" title="Índice Geral de Cursos">Índice Geral de Cursos</a></li>
            </ul>

          </li>
          
        </div>

      </nav>                       
            </div>

             <a href="/PnpQuery?Ano=2021&query=queryDadosGerais.dax&titulo=Dados Acadêmicos;Curso, matrícula e oferta"
                                        title="Curso, matrícula e oferta">Curso, matrícula e oferta</a>


        </section>
