@{
    ViewData["Title"] = "Home Page";



}

 <nav class="nav_sidebar ">


            <div class="menu-items">
                <ul class="nav-links">
                    <!-- Dados acâdemicos-->

                    <li>
                        <img type="image/svg+xml" src="~/images/inicio.png" />

                        <a href="/">
                            <span class="link-name">Início</span>
                        </a>
                    </li>

                       <li>
                        <img type="image/svg+xml" src="~/images/gestao.png" />

                        <a href="/PnpQuery?Ano=2021&query=queryDadosGerais.dax&titulo=Dados Acadêmicos;Curso, matrícula e oferta">
                            <span class="link-name">Indicadores de Gestão</span>
                        </a>
                    </li>

                    <li>
                        <img type="image/svg+xml" id="dolar" src="~/images/orcamento.png" />

                      <a href="/PnpQuery?Ano=2021&query=queryPanoramaOrcamentario.dax&titulo=Orçamento;Panorama Orcamentário" title="Orçamentos">
                            <span class="link-name">Dados Orçamentários</span>
                        </a>
                    </li>
                    <li>
                        <img  type="image/svg+xml" src="~/images/pessoas.png" />

                        <a href="/PnpQuery?Ano=2021&query=queryCargosCarreira.dax&titulo=Gestão de Pessoas;Cargos da Carreira" title="Gestão de Pessoas">
                            <span class="link-name">Dados de Gestão de Pessoas</span>
                        </a>
                    </li>

                </ul>
            </div>
        </nav>
        </nav>

        <section>
            <img type="image/svg+xml" class="fundotec" src="~/images/fundobg.png" />
        </section>
