@{
    ViewData["Title"] = "Home Page";



}

 <nav class="nav_sidebar ">


            <div class="menu-items">
                <ul class="nav-links">
                    <!-- Dados acâdemicos-->

                    <li>
                        <embed type="image/svg+xml" src="~/assets/network.svg" />

                        <a href="#">
                            <span class="link-name">Início</span>
                        </a>
                    </li>

                    <li>
                        <embed type="image/svg+xml" src="~/assets/home.svg" />

                        <a href="#">
                            <span class="link-name">Rede Federal EPCT</span>
                        </a>

                    </li>

          
                       <li>
                        <embed id="money" type="image/svg+xml" src="~/assets/money.svg" />

                        <a href="#">
                            <span class="link-name">Indicadores de gestão</span>
                        </a>
                    </li>

                    <li>
                        <embed id="money" type="image/svg+xml" src="~/assets/money.svg" />

                        <a href="#">
                            <span class="link-name">Dados orçamentários</span>
                        </a>
                    </li>
                    <li>
                        <embed  type="image/svg+xml" src="~/assets/management.svg" />

                        <a href="#">
                            <span class="link-name">Dados de gestão pessoal</span>
                        </a>
                    </li>

                </ul>
            </div>
        </nav>

        <section class="dashboard">
            <div class="alert">
                <embed  type="image/svg+xml" src="~/assets/check.svg" />
                  CSV Gerado com Sucesso!!! Total de Registros=6955 
            </div>
            <div class="content">
                 <nav>
        <div class="container-scroller" id="container">
          <li tabindex="0" class="chip-selected">🎓 Dados Acadêmicos 
            <ul>
              <li> Curso, matricula e oferta</li>
              <li> Classificação racial, renda e sexo</li>
              <li>Situação Matricula</li>
            </ul>
            
          </li>
          <li  tabindex="0"> 🗒️ Percentuais Legais

            <ul>
              <li> teste</li>
              <li> Imagens</li>
              <li> teste</li>
            </ul>
          
          </li>
          <li  tabindex="0"> 🎓 Indicadores Acadêmicos

            <ul>
              <li> teste</li>
              <li> Imagens</li>
              <li> teste</li>
            </ul>
          
          </li>
        </div>

      </nav>                       
            </div>

             <a href="/PnpQuery?Ano=2021&query=queryDadosGerais.dax&titulo=Dados Acadêmicos;Curso, matrícula e oferta"
                                        title="Curso, matrícula e oferta">Curso, matrícula e oferta</a>


        </section>
