@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/css/fonts/segoe/SegoeUI.woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

:root {
    --blue-color: #23303e;
    --gray-color: #f7f7f7;
    --gray-400:#d9d9d9;
    --gray-300: #535c68;
    --white-color: #ffffff;
    --yellow-200: #f7eec2;
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-02: all 0.2s ease;
}

ol,
ul,
li,
a {
    text-decoration: none;
    list-style: none;
}

body {
    min-height: 100vh;
    background-color: var(--primary-color);
    position: relative;
}

.header {
    background: var(--blue-color);
    background-image: url("../images/FAIXA\ CABEÇALHO\ EXTRATOR\ PNP.png");
    background-size: contain;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    padding-left: 3rem;
    color: #ffffff;
    font-size: 24px;
    align-items: center;
}

.header embed {
    color: white;
}

.header a  {
    color: white;
}

.wrapper {
    display: flex;
}

.nav_sidebar {
    min-width: 300px;
    height: 100%;
    margin-top: 2.5rem;
}

nav .logo-name {
    display: flex;
    align-items: center;
}

nav .logo_name {
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 14px;
    transition: var(--tran-05);
}

nav .menu-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-items li a {
    display: flex;
    align-items: center;
    height: 60px;
    position: relative;
}



.nav-links li {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    padding: 10px;
}

.nav-links li a {
    color: #fff;
    font-size: 16px;
    width: 50%;
}

.nav-links li img {
    width: 36px;
}

#dolar {
    width: 24px;
}

.nav-links li:nth-child(1) {
    background-color: #324355;
}

.nav-links li:nth-child(2) {
    background-color: #4e6a85;
}

.nav-links li:nth-child(3) {
    background-color: #d6ac03;
}

.nav-links li:nth-child(4) {
    background-color: #949494;
}

#app{
    width: 100%;
}

/*alert*/

.alert {
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: center;
    color: var(--gray-300);
    background: var(--yellow-200);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
        rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.alert embed {
    margin-right: 10px;
    color: var(--gray-300);
}

/* dashboard */

.dashboard {
    min-height: 100%;
    width: 100vw;
    overflow-x: scroll;
}

.content {
    background: var(--white-color);
    margin-top: 2.5rem;
}

/* chips */

.container-scroller {
    display: flex;
    background-image: url('../images/texturabg.png');
    height: 150px;
    justify-content: flex-start;
    align-items: start;
    padding-top: 1rem;
}

    .container-scroller > li {
        display: flex;
        color: var(--blue-color);
        background: #d9d9d9;
        margin-left: 1px;
        align-items: start;
        justify-content: center;
        text-align: center;
        font-size: 14px;
        padding: 5px 2rem;
        min-width: 200px;
        min-height: 30px;
    }

.percent{
    color: blue;
    margin-right: 5px;
}

.container-scroller> :nth-child(1) {
    margin-left: 0;
}

li ul {
    transform: scale(0, 0);
    position: absolute;
    right: 0;
    z-index: 1000;
}

.container-scroller > li:hover {
    background-color: #4e6a85;
    color: #fff;
}

.container-scroller > li:focus {
    background-color: #4e6a85;
    color: #fff;
}


li:focus ul {
    transform: scale(1, 1);
}
li:hover ul {
    transform: scale(1, 1);
  

}

li {
    position: relative;
    z-index: 1;
}


.container-scroller li ul {
    min-width: 200px;
    width: 100%;
    background-color: #d8dde1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 27px;
    border-top: 1px solid #4e6a85;
    border-bottom: 1px solid #4e6a85;
}

.container-scroller li ul li {
    width: 100%;
    display: flex;
    justify-content: start;
    font-size: 11px;
    text-align: start;
    color: var(--blue-color);
    word-break: inherit;
    padding: 5px 15px;

}

.container-scroller li ul li a{
    color: var(--blue-color);
    word-break: inherit;
}

/* table content */

.container-content{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container-content-2{
    background: yellow;
    height: 100%;
}

.footer{
    background-color: #f7f7f7;
}

.fundotec{
    width: 100%;
}