* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --blue-color: #23303e;
    --gray-color: #f7f7f7;
    --gray-400:#d9d9d9;
    --gray-300: #535c68;
    --white-color: #ffffff;
    --yellow-200: #f7eec2;
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-02: all 0.2s ease;
}

ol,
ul,
li,
a {
    text-decoration: none;
    list-style: none;
}

body {
    min-height: 100vh;
    background-color: var(--primary-color);
    position: relative;
}

.header {
    background: var(--blue-color);
    height: 7vh;
    display: flex;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;

    color: #ffffff;
    font-size: 24px;
    align-items: center;
}

.header embed {
    color: white;
}

.header a  {
    color: white;
}

.wrapper {
    display: flex;
    min-height:93vh;
    background-color: var(----gray-color);
}

.nav_sidebar {
    background-color: var(--white-color);
    min-width: 250px;
    padding: 10px 14px;
    height: 100%;
}

nav .logo-name {
    display: flex;
    align-items: center;
}

nav .logo_name {
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 14px;
    transition: var(--tran-05);
}

nav .menu-items {
    margin-top: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-items li a {
    display: flex;
    align-items: center;
    height: 60px;
    position: relative;
}

.nav-links li {
    display: flex;
    align-items: center;
    position: relative;
}

.nav-links li a {
    color: black;
    margin-left: 10px;
}

.nav-links li embed {
    width: 24px;
}

#money {
    width: 11.73px;
    height: 24px;
}

/*alert*/

.alert {
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: center;
    color: var(--gray-300);
    background: var(--yellow-200);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
        rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.alert embed {
    margin-right: 10px;
    color: var(--gray-300);
}

/* dashboard */

.dashboard {

    min-height: 100%;
    width: 100vw;
    border-left: 1px solid var(--gray-300);
    overflow-x: scroll;
}

.content {
    background: var(--white-color);
    padding: 40px;

}

/* chips */

.container-scroller {
    display: flex;
    justify-content: flex-start;
    align-items: center;


  
}

.container-scroller>li {
    border-radius: 5rem;
    display: flex;
    color: var(--blue-color);
    background: #d9d9d9;
    margin-left: 1rem;
    align-items: center;
    justify-content: start;
    text-align: start;
    padding: 0.3rem;
    min-width: 200px;
    padding: 0.5rem 1rem;
}

.container-scroller> :nth-child(1) {
    margin-left: 0;
}

li ul {
    transform: scale(0, 0);
    position: absolute;
    right: 0;
    z-index: 1000;
}

li:focus ul {
    transform: scale(1, 1);
}
li:hover ul {
    transform: scale(1, 1);
  

}

li {
    position: relative;
    z-index: 1;
}
.container-scroller{
    margin-bottom: 1rem;
}
.container-scroller>.chip-selected {
    background: var(--blue-color);
    color: white;
}

.container-scroller li ul {
    min-width: 200px;
    background: #d9d9d9;
    color: var(--blue-color);
    border-radius: 5px;
    border-top: 10px solid #fff;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    z-index: 1000;
    margin-top: 30px;
}

.container-scroller li ul li {
    width: 100%;
    display: flex;
    justify-content: start;
    color: var(--blue-color);
    word-break: inherit;
    margin-bottom: 1rem;

}

.container-scroller li ul li a{
    color: var(--blue-color);
    word-break: inherit;
}

/* table content */

.container-content{
    display: flex;
    justify-content: center;
    display: none;
    align-items: center;
    background: red;
    padding: 40px;
    width: 100%;
    height: 100%;
}

.container-content-2{
    background: yellow;
    height: 100%;
}

.footer{
    background-color: #f7f7f7;
}